<app-to></app-to>
<div class="main-part">
    <div class="main-part-1">
        <app-nav></app-nav>
    </div>
    <div class="main-part-2">
        <div class="current-page">
            <i class="fa-solid fa-angle-right"></i>
            <label>Company Profile</label>
        </div>
        <div class="current-content">
            <section class="registration-container">
                <section class="details-section">
                    <!-- <form action="" class="registration-form"> -->
                    <!-- Personal Details Section -->
                    <section class="personal-details">
                        <div class="three-details-item">
                            <label for="name">
                                <p style="margin-bottom: 7px;">First Name</p>
                                <input type="text" name="name" id="name" placeholder="Enter first name"
                                    [(ngModel)]="profiledata.first_name">
                            </label>
                            <label for="fName">
                                <p style="margin-bottom: 7px;">Last Name </p>
                                <input type="text" name="fName" id="fName" placeholder="Enter last name"
                                    [(ngModel)]="profiledata.last_name">
                            </label>
                            <label for="mName">
                                <p style="margin-bottom: 7px;">Bussiness Owner</p>
                                <input type="text" name="mName" id="mName" placeholder="Enter Bussiness name"
                                    [(ngModel)]="profiledata.bussines_name">
                            </label>
                        </div>

                        <div class="three-details-item">
                            <label for="ph">
                                <p style="margin-bottom: 7px;"> Mobile Number</p>
                                <input type="tel" name="phone" id="ph" placeholder="Enter mobile number"
                                    [(ngModel)]="profiledata.number">
                            </label>

                            <label for="address" *ngIf="access == 0">
                                <p style="margin-bottom: 7px;"> Company/Organization Registeration Number </p>
                                <input type="text" name="address" id="address" placeholder="Enter your Address"
                                    [(ngModel)]="profiledata.cnic">
                            </label>

                            <label for="gender">
                                <p style="margin-bottom: 7px;"> Province</p>
                                <input type="text" name="gender" id="gender" placeholder="Enter province name"
                                    [(ngModel)]="profiledata.province">
                            </label>


                        </div>
                    </section>
                    <section class="identity-details">
                        <div class="three-details-item">
                            <label for="stream">
                                <p style="margin-bottom: 7px;"> City </p>
                                <input type="text" name="stream" id="stream" placeholder="Enter your city"
                                    [(ngModel)]="profiledata.city">
                            </label>

                            <label for="address">
                                <p style="margin-bottom: 7px;"> Address </p>
                                <input type="text" name="address" id="address" placeholder="Enter your Address"
                                    [(ngModel)]="profiledata.adresss">
                            </label>

                            <label for="accNo">
                                <p style="margin-bottom: 7px;"> Postal Code </p>
                                <input type="text" name="accNo" id="accNo" placeholder="Enter postal code"
                                    [(ngModel)]="profiledata.postal">
                            </label>
                        </div>
                    </section>
                    <hr>
                    <div class="image-section">
                        <h3>Upload Profile picture</h3>
                        <div class="image">
                            <img [src]="selectedImg" alt="">
                        </div>
                        <button class="button" (click)="takePicture()">Upload image</button>
                    </div>
                    <hr>

                    <section class="identity-vefication" *ngIf="access == 0">
                        <h3>Upload the front and back picture of the National ID card</h3>
                        <div class="image-outer">
                            <div class="front-side">
                                <img [src]="frontimage" alt="">
                                <i class="fa-solid fa-camera" (click)="frontPic()"></i>
                            </div>
                            <div class="back-side">
                                <img [src]="backtimage" alt="">
                                <i class="fa-solid fa-camera" (click)="backPic()"></i>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <section class="certificate-vefication" *ngIf="access == 0">
                        <h3>Upload the company registeration certificate (Required)</h3>
                        <div class="certificate-pic">
                            <img [src]="certificateimage" alt="">
                            <i class="fa-solid fa-camera" (click)="certPic()"></i>
                        </div>
                    </section>
                    <hr>

                    <div class="btn">
                        <button class="submit-btn" (click)="Update()"> Update </button>
                    </div>

                    <!-- </form> -->
                </section>
            </section>
        </div>
    </div>
</div>