<div class="footer-main">
    <div class="footer-part-1">
        <div class="system-logo"></div>
        <label>SECURITY<br><span>PLUS</span></label>
    </div>
    <div class="footer-part-2">
        <label class="label">Plateforms:</label>
        <ul>
            <li><a href="#">Companies Web Portal</a></li>
            <li><a href="#">Back-Office Dashboards</a></li>
            <li><a href="#">Guards Mobile App</a></li>
        </ul>
    </div>
    <div class="footer-part-3">
        <label class="label">Legals:</label>
        <ul>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Privacy Policies</a></li>
            <li><a href="#">Terms and Conditions</a></li>
        </ul>
    </div>
    <div class="footer-part-4">
        <label class="label">About:</label>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Benefits</a></li>
        </ul>
    </div>
</div>
<hr>
<div class="icons">
    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
</div>
