<div class="outer-main">
    <div class="main-inter">
        <div class="image-section"></div>
        <div class="container">
            <div class="screen">
                <div class="screen__content">
                    <div class="login">
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="email" class="login__input" placeholder="Organization Name"
                                [(ngModel)]="registration.bussiness_owner">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-envelope"></i>
                            <input type="email" class="login__input" placeholder="User name / Email"
                                [(ngModel)]="registration.email">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-building"></i>
                            <select class="login__input" [(ngModel)]="registration.bussiness_type">
                                <option value="Provider">Service Provider</option>
                                <option value="Taker">Service Taker</option>
                            </select>
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input class="login__input" placeholder="Password" [(ngModel)]="registration.password">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input class="login__input" placeholder="Confirm Password"
                                [(ngModel)]="registration.conform_password">
                        </div>
                        <button class="button login__submit" (click)="submitForm()">
                            <span class="button__text">Sign Up</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </div>
                    <div class="social-login">
                        <h3>Sign Up via</h3>
                        <div class="social-icons">
                            <a href="#" class="social-login__icon fab fa-google"></a>
                            <a href="#" class="social-login__icon fab fa-facebook"></a>
                        </div>
                        <a [routerLink]="['/login']">Back to login</a>
                    </div>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>
    </div>
</div>