<app-home-nevigation></app-home-nevigation>
<div class="faq-main">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Feature Rich Platform</h1>
            <p>We are glad to say that Security Plus is one of the most feature-rich security</p>
            <p>guard management platforms available in the industry</p>
        </div>
        <div class="image">
            <img src="../../assets/features.gif" alt="">
        </div>
    </div>
    <div class="outer">
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/analytic.png" alt="">
                </div>
                <label class="logo-name">Analytics</label>
            </div>
            <label class="Company-name">Analytics for the scheduler and reports are created to assist you in
                understanding important data visually, allowing you to make informed decisions quickly.</label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/attendence.png" alt="">
                </div>
                <label class="logo-name">Attendance</label>
            </div>
            <label class="Company-name">Integrate biometric attendance functionality into your app for guards, ensuring
                secure and accurate attendance tracking.</label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/client-mobile-app.png" alt="">
                </div>
                <label class="logo-name">Guard Mobile App</label>
            </div>
            <label class="Company-name">This mobile version of the Guard allows Guards to check such as reports,
                communication, profile management, shift status, and much more
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/client-portal.png" alt="">
                </div>
                <label class="logo-name">Client Web Portal</label>
            </div>
            <label class="Company-name">Our client companies can securely access all critical data through the Security
                Plus Client Web Portal.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/comment.png" alt="">
                </div>
                <label class="logo-name">Reviews</label>
            </div>
            <label class="Company-name">Users of the back-office dashboard can communicate effectively by adding
                comments throughout the system. Additionally, they can share reviews about companies to help others make
                informed decisions.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/custom-report.png" alt="">
                </div>
                <label class="logo-name">Custom Report</label>
            </div>
            <label class="Company-name">Users can request custom reports by describing their requirements and sending
                them to the back office. The backend team then creates the report and sends it to the requesting user
                upon completion.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/guard-web-portal-icon.png" alt="">
                </div>
                <label class="logo-name">Companies Web Portal</label>
            </div>
            <label class="Company-name">We have a web portal where service providers and companies interact as clients.
                This portal is responsive, so you can access it easily whether
                you're on a computer, tablet, or smartphone.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/notification.png" alt="">
                </div>
                <label class="logo-name">Notification</label>
            </div>
            <label class="Company-name">Stay updated with live notifications directly on your dashboard. Keep track of
                when your guards confirm shifts, clock in or out, communicate, and more.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/online-report.png" alt="">
                </div>
                <label class="logo-name">Reports</label>
            </div>
            <label class="Company-name">Using Security Plus reporting software you and your team can create custom
                reports and receive different types of reports in real-time.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/panic-button.png" alt="">
                </div>
                <label class="logo-name">Panic Button</label>
            </div>
            <label class="Company-name">Let security guards alert back-office users in real-time about any emergency on
                the post site by pressing the panic button on the guard app.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/payroll-integration.png" alt="">
                </div>
                <label class="logo-name">Payroll Integration</label>
            </div>
            <label class="Company-name">In Security Plus, we have a payroll integration feature that allows you to
                conveniently pay the contract fees with companies and the salaries of guards directly through our
                system.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/policy.png" alt="">
                </div>
                <label class="logo-name">Policy</label>
            </div>
            <label class="Company-name">We also have a policy page where you can read about our system and make an
                informed decision about its reliability.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/message.png" alt="">
                </div>
                <label class="logo-name">Communication</label>
            </div>
            <label class="Company-name">Effective communication is vital, which is why Security Plus messenger allows
                the users to connect and collaborate with numerous chat options.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/salary.png" alt="">
                </div>
                <label class="logo-name">Salaries</label>
            </div>
            <label class="Company-name">Effective generate the salaries of the guards on the base of monthly progress
                and have a option to pay through the Security Plus system.
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/Tracking.png" alt="">
                </div>
                <label class="logo-name">Tracking</label>
            </div>
            <label class="Company-name">Security Pluc actively monitor the guard through camera and send radomly send 5
                alerts in a shift and detect the guard. At last store the day progress that help to generate the
                salariesof the guards
            </label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/jobs.png" alt="">
                </div>
                <label class="logo-name">Jobs Opportunity</label>
            </div>
            <label class="Company-name">Security Pluc provide the features to service provider companies to define the
                job criteria for the guards and guards apply in every country as your own choice and fullfil the company
                requirenments.
            </label>
        </div>
    </div>
</div>
<app-footer></app-footer>