<app-top-nav></app-top-nav>
<div class="main">
    <div class="main-part-1">
        <app-navigation></app-navigation>
    </div>
    <div class="main-part-2">
        <div class="current-page">
            <i class="fa-solid fa-angle-right"></i>
            <label>Job Applications List</label>
        </div>
        <div class="main-content">
            <div class="filter-section">
                <label for="filter">Filter by Status:</label>
                <select id="filter" (change)="filter($event)">
                    <option value="all">All</option>
                    <option value="pending">Pending</option>
                    <option value="active">Accepted</option>
                    <option value="reject">Rejected</option>
                </select>
            </div>
            <ng-container *ngIf="renderApplication && renderApplication.length > 0; else nodata">
                <div *ngFor="let item of renderApplication">
                    <div class="application-list">
                        <div class="application-item">
                            <h2>Application # {{item.id}}</h2>
                            <p>Date: {{item.date}}</p>
                            <p>Time: {{item.time}}</p>
                            <p>Status: {{item.status}}</p>
                            <div class="btn-div">
                                <button class="view-details-btn" (click)="view(item.id)">View Details</button>
                                <button class="view-details-btn" (click)="Accepted(item.id)">Accepted</button>
                                <button class="view-details-btn" (click)="Rejected(item.id)">Rejected</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #nodata>
                <div class="no-record-found">
                    <div class="image">
                        <img src="../../../assets/no-data.gif" alt="No Record Found">
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>