.outerlyer {
    display: flex;

    .main {
        width: 100%;
        padding: 10px;

        .current-page{
            
            padding: 10px;
            background-color: #e7eefa;
            margin-bottom: 10px;
            i{
                font-size: 20px;
                color: gray;
                font-weight: bold;
            }
            label{
                margin-left: 10px;
                font-weight: bold;
                color: #4C489D;
                font-size: 20px;
            }
        }

        .second {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            width: 90%;
            // height: 60%;
            margin-left: 40px;
            padding: 20px;
            margin-top: 40px;
            gap: 40px;
            border-radius: 10px;

            .one {
                width: 400px;
                height: 150px;
                border-radius: 20px;
                font-size: 30px;
                color: aliceblue;
                padding: 15px;

            }

            .total {
                background-color: #0d6efd;

                label {
                    margin-left: 20px;
                    margin-top: 50px;
                    font-size: 20px;
                }

                .lab {
                    font-size: 50px;
                    font-weight: bold;
                }

            }

            .expense {
                background-color: #0dcaf0;

                label {
                    margin-left: 20px;
                    margin-top: 50px;
                    font-size: 20px;
                }

                .lab {
                    font-size: 50px;
                    font-weight: bold;
                }
            }

            .cash {
                background-color: #d63384;

                label {
                    margin-left: 20px;
                    margin-top: 50px;
                    font-size: 20px;
                }

                .lab {
                    font-size: 50px;
                    font-weight: bold;
                }
            }

            .net {
                background-color: #20c997;

                label {
                    margin-left: 20px;
                    margin-top: 50px;
                    font-size: 20px;
                }

                .lab {
                    font-size: 50px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media (min-width: 750px) and (max-width: 850px) {
    .outerlyer {
        app-nevigation {
            position: fixed;
        }

        .main {
            width: 100%;
        }
    }
}

@media (min-width: 355px) and (max-width: 450px) {
    .outerlyer {
        app-nevigation {
            position: fixed;
        }

        .main {
            padding: 2px;

            .first {
                margin-left: 5px;
                .search{
                    width: 70%;
                }
            }

            .second {
                margin-left: 5px;
                padding: 10px;
                .one {
                    width: 350px;
                    height: 120px;

                }
            }
        }
    }
}