<app-top-nav></app-top-nav>
<div class="outerlyer">
    <app-nevigation></app-nevigation>
    <div class="main">
        <div class="current-page">
            <i class="fa-solid fa-angle-right"></i>
            <label>Dashboard</label>
        </div>
        <div class="first">
            <div class="expense one">
                <label> Expense</label>
                <label class="lab">$50 </label>
                <label >Saved 20%</label>
            </div>
            <div class="expense one">
                <label> Expense</label> 
                <label class="lab">$50 </label>
                <label >Saved 20%</label>
            </div>
            <div class="expense one">
                <label> Expense</label>
                <label class="lab">$50 </label>
                <label >Saved 20%</label>
            </div>
            <div class="expense one">
                <label> Expense</label>
                <label class="lab">$50 </label>
                <label >Saved 20%</label>
            </div>
        </div>
        <div class="second">
            <div class="graph">
                <canvas id="acquisitions"></canvas>
            </div>
            <div class="graph2">
                <canvas id="percentageGraph"></canvas>
            </div>
            <div class="graph2">
                
            </div>
        </div>
        <div class="third">
            <div class="graph2">
                <canvas id="secondgraph"></canvas>
            </div>
            <div class="graph">
                <canvas id="Linegraph"></canvas> 
            </div>
            
            <div class="graph2">
                <canvas id="piechart"></canvas>
            </div>
        </div>
    </div>
</div>
