<div class="outerlyer">
    <app-nevigation></app-nevigation>
    <div class="main">
        <div class="first">
            <div class="search">
                <input class="inp" type="text" placeholder="search here">
            </div>
            <div class="icon">
                <i class="fa-regular fa-bell"></i>
                <i class="fa-brands fa-rocketchat"></i>
            </div>
        </div>
        <div class="second">
            <div class="total  one">
               <label> Total Income</label><br>
               <label class="lab">$1000</label> 
            </div>
            <div class="expense one">
                <label> Expense</label><br>
                <label class="lab">$50 </label>
            </div>
            <div class="cash one">
                <label> on hand</label><br>
                <label class="lab">$390</label>
            </div>
            <div class="net one">
               <label> Net Profit Margin </label><br>
               <label class="lab">$500</label>
            </div>
        </div>
    </div>
</div>
