<app-home-nevigation></app-home-nevigation>
<div class="faq-main">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Frequently Asked Questions</h1>
            <p>Answers to all your frequently asked questions.</p>
        </div>
        <div class="image">
            <img src="../../assets/faqs.png" alt="">
        </div>
    </div>
    <div class="questions">
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>What is Security Plus?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>Security Plus is an easy to use and cost-effective cloud based security guard management platform. It
                    is designed for security guard companies and communication between the company, guards, and clients.
                    GuardsPro allows security guard companies to eliminate the native paperwork process of gathering
                    information.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>How much does Security Plus cost?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>We are proud to say that Security Plus is the most cost-effective security guard management system
                    available on the market. We are not charge and you can add as many guards as you like.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>Is there any Contract to be signed?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>Yes, we believe in tying the customer with long term (as the client want) contracts and you can
                    cancel your service anytime you like and pay the pay company as monthly bases as advance.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>Can I add multiple clients?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>Security Plus is a security patrol solution that provides secure data to manage your security patrol
                    operations with a user-friendly interface. The app is designed to improve security guard’s
                    performance and simplify communication flow in your organization. This mobile and web-based software
                    connect guards on-site to the security managers and clients.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>How long is the free trial?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>No, You can get Security Plus with no any free trial on signing up. You can experience the power of
                    simplicity Security Plus plateform.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>Is my data secure?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>Your data is totally secure. GuardsPro uses cloud-based databases that are totally reliable. The data
                    can only be accessed with trusted authentication. You can control the data accessible by the guards
                    and clients to maintain confidentiality.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>Can the software be used on all devices?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>The Security Plus used by the guards and Organizations can be used on the smartphones they carry on
                    the site while the dashboard used for admin purposes can be accessed both on a laptop and
                    smartphone.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>What hardware is required to run the software?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>To use Security Plus all you need is a smartphone (Android or iOS) or a PC/laptop. It runs on all
                    operating systems.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>How many guards can I add?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>You can add as many guards as you like, service provider companies give access to add as you want
                    without any restriction.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>Do security guards need training to use the app?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>No additional training is required. GuardsPro is designed to be convenient and simple. The security
                    guards can learn to use the app within minutes.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>How can I reach the support center?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>In case of any query, you can reach out to our help center. You can live chat with our customer
                    support or email us with your queries at contact@securityplus.com</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>Do clients automatically get the reports?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>No, only reports approved by the admin are sent to the client.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>Can I edit the reports before I send to client?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>No, you cannot edit the reports before they are shared with the clients.</p>
            </div>
        </div>
        <div class="nav-one mydiv" (click)="showMore($event)">
            <div class="content">
                <label>How many number of clients I can add?</label>
                <div class="iocon">
                    <i id="down" class="fa-solid fa-angle-down"></i>
                    <i id="up" class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="body">
                <p>In Security Plus you can include as many clients as you like, there is no limit. At Security Plus we
                    do not charge you based on a number of clients.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>