.main-part {
    display: flex;

    .main-part-2 {
        width: 100%;
        padding: 10px;

        .current-page {

            padding: 10px;
            background-color: #e7eefa;
            margin-bottom: 10px;

            i {
                font-size: 20px;
                color: gray;
                font-weight: bold;
            }

            label {
                margin-left: 10px;
                font-weight: bold;
                color: #4C489D;
                font-size: 20px;
            }
        }

        .current-content {
            padding: 10px;
            background-color: #e7eefa;
            margin-bottom: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .cctv-camera {
                width: auto;
                height: 400px;
                overflow: hidden;
                display: flex;
                justify-content: center;
            }

            label {
                margin-left: 10px;
                font-weight: bold;
                color: #4C489D;
                font-size: 20px;
            }

            .current-content1 {
                width: 100%;
                padding: 15px;
                background-color: #e7eefa;
                height: fit-content;

                .availabel-guards {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    overflow: hidden;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                    width: 100%;
                    margin-bottom: 10px;

                    .data-header {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 12px 20px;
                        background-color: #f1f1f1;

                        label {
                            font-weight: bold;
                            color: #4C489D;
                            font-size: 20px;
                        }
                    }

                    .data {
                        overflow-x: auto;
                        width: 100%;

                        table {
                            width: 100%;
                            border-collapse: collapse;

                            tr {
                                width: 100%;

                                td,
                                th {
                                    padding: 5px;
                                    text-align: center;
                                    border-bottom: 1px solid #adacac;
                                    background-color: #fff;
                                }
                            }
                        }

                    }

                }
            }
        }
    }
}

