<app-home-nevigation></app-home-nevigation>
<div class="main-companies">
    <h2>Select Company as you want</h2>
    <div class="outer">
        <div class="register-companies" *ngFor="let item of portfolios;let i = index">
            <div class="baner-image">
                <img [src]="item.Banner_image" alt="">
            </div>
            <div class="Company-logo">
                <img [src]="item.logo" alt="">
            </div>
            <label class="Company-name">{{item.bussiness_owner}}</label>
            <div class="learn-more">
                <div>
                    <label>Rating: </label>
                    <span class="fa fa-star" *ngFor="let stars of [1,2,3,4,5]"
                    [ngClass]="{'checked': stars <= item.rating}"></span>
                </div>
                <button (click)="learnmore(item)" class="learn">Learn More</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>