<div class="nav-bar">
    <div class="nav-content">
        <h1>Register Client Organization</h1>
        <div class="search">
            <input type="text">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
</div>
<div class="main">
    <div class="main-1">
        <app-nevigation></app-nevigation>
    </div>
    <div class="main-2">
        <div class="main-container" *ngFor="let items of registerClients">
            <div class="container-layer">
                <div class="container-part-1">
                    <label class="company">{{items.bussiness_owner}}</label><br>
                    <label class="name">{{items.bussiness_fname}} {{items.bussiness_lname}}</label>
                </div>
                <div class="container-part-2">
                    <button class="application" (click)="viewApplication(items.id)">View</button>
                    <button class="active" (click)="Active(items.id)">In Active</button>
                </div>
            </div>
        </div>
    </div>
</div>