.main {
    display: flex;
    overflow-y: hidden;

    .main-2 {
        padding: 10px;
        width: 100%;

        .current-page {

            padding: 10px;
            background-color: #e7eefa;
            margin-bottom: 10px;

            i {
                font-size: 20px;
                color: gray;
                font-weight: bold;
            }

            label {
                margin-left: 10px;
                font-weight: bold;
                color: #4C489D;
                font-size: 20px;
            }
        }

        .main-container {
            background-color: white;
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .container-layer {
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
                background-color: #e7eefa;
                width: 60%;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                .container-layer:hover {
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
                }

                .container-part-1 {
                    .company {
                        display: block;
                        font-size: 25px;
                        font-weight: bold;
                    }

                    .name {
                        display: block;
                        font-size: 20px;
                    }
                }

                .container-part-2 {

                    .application {
                        padding: 7px;
                        font-size: 18px;
                        background-color: orange;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        border-radius: 5px;
                    }

                    .active {
                        margin-left: 10px;
                        padding: 7px;
                        font-size: 18px;
                        background-color: rgb(241, 73, 73);
                        outline: none;
                        border: none;
                        cursor: pointer;
                        border-radius: 5px;
                    }

                    .Remind {
                        margin-left: 10px;
                        padding: 7px;
                        font-size: 18px;
                        background-color: lightgreen;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }
            }
        }

        .no-record-found {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .image {
                width: 350px;
                height: 350px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

        }
    }

}


@media (min-width: 750px) and (max-width: 850px) {
    .main {
        .main-1 {
            app-nevigation {
                position: fixed;
            }
        }

        .main-2 {
            .main-container {
                .container-layer {
                    width: 80%;
                }
            }
        }
    }
}

@media (min-width: 355px) and (max-width: 450px) {
    .nav-bar {
        .nav-content {
            display: block;
        }
    }

    .main {
        .main-1 {
            app-nevigation {
                position: fixed;
            }
        }

        .main-2 {
            .main-container {
                .container-layer {
                    width: 80%;

                    .container-part-1 {
                        max-width: 50%;

                        .company {
                            font-size: 20px;
                        }

                        .name {
                            font-size: 16px;
                        }
                    }

                    .container-part-2 {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                    }
                }

            }
        }
    }
}