<app-top-nav></app-top-nav>
<div class="main">
  <div class="main-1">
    <app-nevigation></app-nevigation>
  </div>
  <div class="main-2">
    <div class="current-page">
      <i class="fa-solid fa-angle-right"></i>
      <label>UnRegister Companies</label>
    </div>
    <ng-container *ngIf="unRegisterCompanies && unRegisterCompanies.length > 0; else noRecord">
      <div class="main-container">
        <table class="rwd-table">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Bussiness Name</th>
            <th>Phone Number</th>
            <th>Area Code</th>
            <th>Address</th>
            <th>City</th>
            <th>Province</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let items of unRegisterCompanies">
            <td>{{items.bussiness_fname}}</td>
            <td>{{items.bussiness_lname}}</td>
            <td>{{items.bussiness_owner}}</td>
            <td>{{items.phone_number}}</td>
            <td>{{items.area_code}}</td>
            <td>{{items.street_address}}</td>
            <td>{{items.city_name}}</td>
            <td>{{items.province}}</td>
            <td class="container-part-2">
              <button class="application" (click)="viewApplication(items.id)">View</button>
              <button class="Remind" (click)="remindApplication(items.id)">Remind</button>
              <button class="active" (click)="Active(items.id)">Active</button>
            </td>
          </tr>
        </table>
        <div class="mobile-view">
          <table class="rwd-table1" *ngFor="let items of unRegisterCompanies">
            <tr>
              <td data-th="First Name">{{items.bussiness_fname}}</td>
              <td data-th="Last Name">{{items.bussiness_lname}}</td>
              <td data-th="Bussiness Name">{{items.bussiness_owner}}</td>
              <td data-th="Phone Number">{{items.phone_number}}</td>
              <td data-th="Area Code">{{items.area_code}}</td>
              <td data-th="Address">{{items.street_address}}</td>
              <td data-th="City">{{items.city_name}}</td>
              <td data-th="Province">{{items.province}}</td>
              <td data-th="Actions" class="container-part-2">
                <button class="application" (click)="viewApplication(items.id)">View</button>
                <button class="Remind" (click)="remindApplication(items.id)">Remind</button>
                <button class="active" (click)="Active(items.id)">Active</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </ng-container>
    <ng-template #noRecord>
      <div class="no-record-found">
        <div class="image">
          <img src="../../../assets/no-data.gif" alt="No Record Found">
        </div>
      </div>
    </ng-template>
  </div>
</div>