<app-top-nav></app-top-nav>
<div class="main">
  <div class="main-1">
    <app-nevigation></app-nevigation>
  </div>
  <div class="main-2">
    <div class="current-page">
      <i class="fa-solid fa-angle-right"></i>
      <label>UnRegister Companies</label>
    </div>
    <!-- <div class="main-container" *ngFor="let items of unRegisterCompanies">
            <div class="container-layer">
                <div class="container-part-1">
                    <label class="company">{{items.bussiness_owner}}</label><br>
                    <label class="name">{{items.bussiness_fname}} {{items.bussiness_lname}}</label>
                </div>
                <div class="container-part-2">
                    <button class="application" (click)="viewApplication(items.id)">View</button> 
                    <button class="Remind" (click)="remindApplication(items.id)">Remind</button> 
                    <button class="active" (click)="Active(items.id)">Active</button>
                </div>
            </div>
        </div> -->
    <ng-container
      *ngIf="
        unRegisterCompanies && unRegisterCompanies.length > 0;
        else noRecord
      "
    >
      <div class="main-container" *ngFor="let items of unRegisterCompanies">
        <div class="container-layer">
          <div class="container-part-1">
            <label class="company">{{ items.bussiness_owner }}</label
            ><br />
            <label class="name"
              >{{ items.bussiness_fname }} {{ items.bussiness_lname }}</label
            >
          </div>
          <div class="container-part-2">
            <button class="application" (click)="viewApplication(items.id)">
              View
            </button>
            <button class="Remind" (click)="remindApplication(items.id)">
              Remind
            </button>
            <button class="active" (click)="Active(items.id)">In Active</button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noRecord>
      <div class="no-record-found">
        <div class="image">
          <img src="../../../assets/no-data.gif" alt="No Record Found" />
        </div>
      </div>
    </ng-template>
  </div>
</div>
