.main {
    display: flex;
    overflow-y: hidden;

    .main-2 {
        padding: 10px;
        width: 100%;

        .current-page {

            padding: 10px;
            background-color: #e7eefa;
            margin-bottom: 10px;

            i {
                font-size: 20px;
                color: gray;
                font-weight: bold;
            }

            label {
                margin-left: 10px;
                font-weight: bold;
                color: #4C489D;
                font-size: 20px;
            }
        }

        .main-container {
            background-color: white;
            padding: 10px;
            width: 100%;

            .rwd-table {
                margin: 1em 0;
                background: #34495E;
                color: #fff;
                border-radius: .4em;
                overflow: hidden;
                width: 100%;

                tr {
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;

                    th {
                        color: #dd5;
                    }

                    .container-part-2 {
                        padding: 10px;
                        display: flex;
                        .application {
                            padding: 3px;
                            font-size: 18px;
                            background-color: orange;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            border-radius: 5px;
                        }

                        .active {
                            margin-left: 10px;
                            padding: 3px;
                            font-size: 18px;
                            background-color: rgb(241, 73, 73);
                            outline: none;
                            border: none;
                            cursor: pointer;
                            border-radius: 5px;
                        }

                        .Remind {
                            margin-left: 10px;
                            padding: 3px;
                            font-size: 18px;
                            background-color: lightgreen;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            border-radius: 5px;
                        }
                    }


                }

                td:first-child {
                    padding-top: .5em;
                }

                th,
                td {
                    text-align: center;
                    margin: .5em 1em;
                    display: table-cell;
                    padding: .25em .5em;
                }

            }

            .mobile-view {
                display: none;
            }

        }

        .no-record-found {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .image {
                width: 350px;
                height: 350px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

        }
    }

}

@media (min-width: 355px) and (max-width: 850px) {
    .main {
        display: flex;
        overflow-y: hidden;

        .main-2 {
            .main-container {
                .rwd-table {
                    display: none;
                }

                .mobile-view {
                    display: block;

                    .rwd-table1 {
                        background: #34495E;
                        color: #fff;
                        border-radius: .4em;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: 10px;

                        tr {
                            border-color: white;
                            td {
                                display: block;
                                padding: 1em !important;
                            }

                            td:before {
                                content: attr(data-th) ": ";
                                font-weight: bold;
                                width: 6.5em;
                                display: inline-block;
                                color: #dd5;
                            }

                            td:first-child {
                                padding-left: 0;
                            }

                            td:last-child {
                                padding-right: 0;
                            }
                            .container-part-2 {
                                padding: 10px;
        
                                .application {
                                    padding: 3px;
                                    font-size: 18px;
                                    background-color: orange;
                                    outline: none;
                                    border: none;
                                    cursor: pointer;
                                    border-radius: 5px;
                                }
        
                                .active {
                                    margin-left: 10px;
                                    padding: 3px;
                                    font-size: 18px;
                                    background-color: rgb(241, 73, 73);
                                    outline: none;
                                    border: none;
                                    cursor: pointer;
                                    border-radius: 5px;
                                }
        
                                .Remind {
                                    margin-left: 10px;
                                    padding: 3px;
                                    font-size: 18px;
                                    background-color: lightgreen;
                                    outline: none;
                                    border: none;
                                    cursor: pointer;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

@media (min-width: 750px) and (max-width: 850px) {
    .main {
        .main-1 {
            app-nevigation {
                position: fixed;
            }
        }
    }
}

@media (min-width: 355px) and (max-width: 450px) {
    .nav-bar {
        .nav-content {
            display: block;
        }
    }

    .main {
        .main-1 {
            app-nevigation {
                position: fixed;
            }
        }
    }
}