<app-home-nevigation></app-home-nevigation>
<div class="faq-main">
    <div class="page-content">
        <h1>Security Plus Improves Client Satisfaction</h1>
        <h4>Security Plus reduces their operational costs while improving security guard</h4>
        <h4>accountability and enhancing customer service</h4>
    </div>
    <div class="outer">
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/features-pic/secure-database.png" alt="">
                </div>
                <label class="logo-name">Secure Database</label>
            </div>
            <label class="Company-name">With bank-grade encryption, all sensitive payroll data is stored and shared
                securely, safe from illegitimate use. Your personal data stored also in secure form</label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/benefit-pic/guard-perform.png" alt="">
                </div>
                <label class="logo-name">Improve Performance</label>
            </div>
            <label class="Company-name">Security Plus is built to improve the performance of your security guards.
                Communicate schedules, and collect reports in real-time.</label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/benefit-pic/simple-implement-1.png" alt="">
                </div>
                <label class="logo-name">Simple Implimentation</label>
            </div>
            <label class="Company-name">Start using Security Plus within minutes without any additional training costs.
                Guards can just download, install, and they are ready to start working with the app.</label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/benefit-pic/eco-friendly.png" alt="">
                </div>
                <label class="logo-name">Reduce Paper Work</label>
            </div>
            <label class="Company-name">Security Plus eliminates the need for paper timesheets and reports, so you can
                significantly reduce the use of paper and make your contribution to the environment. Store and get the
                data electronicaly</label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/benefit-pic/cllaboration-1.png" alt="">
                </div>
                <label class="logo-name">Role base Access</label>
            </div>
            <label class="Company-name">With Security Plus multiple user access, define roles for your staff to let them
                manage security operations and access information from multiple devices.</label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/benefit-pic/start-bussiness.png" alt="">
                </div>
                <label class="logo-name">Start Your Bussiness</label>
            </div>
            <label class="Company-name">By the help of this system you register your organization and provide the
                services to the client companies and also hier the multiple guards</label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/benefit-pic/dashboard.png" alt="">
                </div>
                <label class="logo-name">Admin Pannel</label>
            </div>
            <label class="Company-name">Both organizations service provider and client companies (services taker) have
                the back office panel to maintain the organization and use the features of the syatem.</label>
        </div>
        <div class="register-companies">
            <div class="comapny-outer">
                <div class="Company-logo">
                    <img src="../../assets/benefit-pic/customer-service-1.png" alt="">
                </div>
                <label class="logo-name">Customer Satisfaction</label>
            </div>
            <label class="Company-name">Security Plus makes it easier for you to share the right piece of information with the clients, ensuring high-quality customer services are delivered every time.</label>
        </div>
    </div>
</div>
<app-footer></app-footer>