<div class="outer-main">
    <div class="main-inter">
        <div class="image-section"></div>
        <div class="content">
            <div class="logo">
                <div class="logo-image"></div>
            </div>
            <h3>Login To Your Account</h3>
            <div class="credentials-path">
                <label>Enter Email</label>
                <input type="email" [(ngModel)]="logindetail.email">
                <i class="fa-regular fa-envelope"></i>
                <label>Enter Password</label>
                <input [type]="type" [(ngModel)]="logindetail.password">
                <i class="fa-regular fa-eye" (click)="display()"></i>
                <a [routerLink]="['/forget-password']">Forget Password ?</a>
                <button (click)="login()">Login</button>
            </div>
            <div class="not-have-account">
                <label>Don't Have an Account ?</label>
                <a [routerLink]="['/registeration']">Create Your Account</a>
            </div>
        </div>
    </div>
</div>