<div class="nav-bar">
    <div class="nav-content">
        <h1>Preview Portfolio</h1>
    </div>
</div>
<div class="main-layout">
    <app-navigation></app-navigation>
    <div class="part-2">
        <div class="main-banner">
            <img [src]="selectedImg1" alt="" />
        </div>
        <div class="main-page-content">
            <div class="company-image">
                <img [src]="selectedImg" alt="">
            </div>
        </div>
        <div class="htmlcontent" [innerHTML]="htmlContent">
            <h1>hello</h1>
        </div>
    </div>
</div>