.main-part {
    display: flex;

    .main-part-2 {
        width: 100%;
        padding: 10px;

        .current-page {

            padding: 10px;
            background-color: #e7eefa;
            margin-bottom: 10px;

            i {
                font-size: 20px;
                color: gray;
                font-weight: bold;
            }

            label {
                margin-left: 10px;
                font-weight: bold;
                color: #4C489D;
                font-size: 20px;
            }
        }

        .current-content {
            padding: 10px;
            background-color: #fff;
            margin-bottom: 10px;
            width: 100%;

            .registration-container {
                border-radius: 0.5rem;
                padding: 1rem;
                margin: 1rem;

                h2 {
                    font-weight: bold;
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                    position: relative;
                    color: #4C489D;
                }

                h2::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: 3px;
                    width: 130px;
                    border-radius: 2px;
                    background-color: #e65b00;
                }

                .details-section {

                    h4 {
                        font-size: 18px;
                        font-weight: bold;
                        color: #e65b00;
                    }

                    .personal-details {
                        margin: .2rem 0;

                        .three-details-item {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;

                            label {
                                margin: .5rem 1rem;
                                font-size: 18px;
                                font-weight: 600;
                                width: 30%;

                                input {
                                    border: none;
                                    border-bottom: 2px solid #D1D1D4;
                                    box-shadow: 0px 2px 2px #5C5696;
                                    outline: none;
                                    color: gray;
                                    background: none;
                                    border-radius: 26px;
                                    padding: 10px;
                                    width: 100%;
                                    transition: .2s;
                                }
                            }
                        }
                    }

                    hr {
                        width: 100%;
                        height: 1px;
                        background-color: #d2d2d2;
                        margin: 1rem 0;
                        border: none;
                    }

                    .btn {
                        display: flex;
                        justify-content: center;
                        width: 100%;

                        .submit-btn {
                            background: #fff;
                            font-size: 14px;
                            margin-top: 10px;
                            padding: 10px 20px;
                            border-radius: 26px;
                            border: 1px solid #D4D3E8;
                            text-transform: uppercase;
                            text-align: center;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            width: 30%;
                            color: #4C489D;
                            box-shadow: 0px 2px 2px #5C5696;
                            cursor: pointer;
                            transition: .2s;
                        }
                    }

                    .identity-details {
                        margin: .2rem 0;

                        .three-details-item {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;

                            label {
                                margin: .5rem 1rem;
                                font-size: 18px;
                                font-weight: 600;
                                width: 30%;

                                input {
                                    border: none;
                                    border-bottom: 2px solid #D1D1D4;
                                    box-shadow: 0px 2px 2px #5C5696;
                                    outline: none;
                                    color: gray;
                                    background: none;
                                    border-radius: 26px;
                                    padding: 10px;
                                    width: 100%;
                                    transition: .2s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (min-width: 750px) and (max-width: 850px) {
    .main-part {
        .main-part-2 {
            .current-content {
                .registration-container {
                    padding: 0px;

                    .details-section {
                        .personal-details {
                            .three-details-item {
                                label {
                                    width: 28%;
                                }
                            }
                        }

                        .identity-details {
                            .three-details-item {
                                label {
                                    width: 28%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 355px) and (max-width: 450px) {
    .main-part {
        .main-part-2 {
            .current-content {
                .registration-container {
                    padding: 0px;

                    .details-section {
                        .personal-details {
                            .three-details-item {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                label {
                                    width: 100%;
                                }
                            }
                        }

                        .identity-details {
                            .three-details-item {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                label {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}