<div class="main" id="main-section">
    <div class="main-section-nav">
        <div class="organization-data">
            <div class="organization-pic">
                <img [src]="selectedImg" alt="">
            </div>
            <div class="organization-information">
                <!-- <label>organization name</label> -->
            </div>
        </div>
        <div class="nevigation-main">
            <div class="nav-one mydiv" (click)="showMore($event)" *ngIf="access == 1">
                <div class="content">
                    <label><span class="relative-icon"><i class="fa-solid fa-house"></i></span>Dashboard</label>
                    <div class="iocon">
                        <i id="down" class="fa-solid fa-angle-down"></i>
                        <i id="up" class="fa-solid fa-angle-up"></i>
                    </div>
                </div>
                <div class="body">
                    <a class="link" [routerLink]="['/dashboard']">Dashboard</a>
                </div>
            </div>
            <div class="nav-one mydiv" (click)="showMore($event)" *ngIf="access == 1">
                <div class="content">
                    <label><span class="relative-icon"><i class="fa-solid fa-building"></i></span>Portfolio</label>
                    <div class="iocon">
                        <i id="down" class="fa-solid fa-angle-down"></i>
                        <i id="up" class="fa-solid fa-angle-up"></i>
                    </div>
                </div>
                <div class="body">
                    <a class="link" [routerLink]="['/edit-portfolio']">Edit Portfolio</a>
                    <a class="link" [routerLink]="['/preview-portfolio']">Preview Portfolio</a>
                </div>
            </div>
            <div class="nav-one mydiv" (click)="showMore($event)" *ngIf="access == 1">
                <div class="content">
                    <label><span class="relative-icon"><i class="fa-brands fa-wpforms"></i></span>Forms</label>
                    <div class="iocon">
                        <i id="down" class="fa-solid fa-angle-down"></i>
                        <i id="up" class="fa-solid fa-angle-up"></i>
                    </div>
                </div>
                <div class="body">
                    <a class="link" [routerLink]="['/make-form']">Edit Forms</a>
                    <a class="link" [routerLink]="['/preview-form']">Preview Forms</a>
                </div>
            </div>
            <div class="nav-one mydiv" (click)="showMore($event)" *ngIf="access == 1">
                <div class="content">
                    <label><span class="relative-icon"><i class="fa-solid fa-person-military-rifle"></i></span>Guards</label>
                    <div class="iocon">
                        <i id="down" class="fa-solid fa-angle-down"></i>
                        <i id="up" class="fa-solid fa-angle-up"></i>
                    </div>
                </div>
                <div class="body">
                    <a class="link" [routerLink]="['/guards-data']">Guards Data</a>
                    <a class="link" [routerLink]="['/register-guards']">Register Guards</a>
                    <a class="link" [routerLink]="['/job-application']">Job Applications</a>
                </div>
            </div>
            <div class="nav-one mydiv" (click)="showMore($event)" *ngIf="access == 1">
                <div class="content">
                    <label><span class="relative-icon"><i class="fa-solid fa-comment"></i></span>Chat</label>
                    <div class="iocon">
                        <i id="down" class="fa-solid fa-angle-down"></i>
                        <i id="up" class="fa-solid fa-angle-up"></i>
                    </div>
                </div>
                <div class="body">
                    <a class="link" [routerLink]="['/provider-chat']">Open Chat</a>
                </div>
            </div>
            <div class="nav-one mydiv" (click)="showMore($event)" *ngIf="access == 1">
                <div class="content">
                    <label><span class="relative-icon"><i class="fa-solid fa-user-pen"></i></span>Review</label>
                    <div class="iocon">
                        <i id="down" class="fa-solid fa-angle-down"></i>
                        <i id="up" class="fa-solid fa-angle-up"></i>
                    </div>
                </div>
                <div class="body">
                    <a class="link" [routerLink]="['/review']">Review</a>
                </div>
            </div>
            <div class="nav-one mydiv" (click)="showMore($event)">
                <div class="content">
                    <label><span class="relative-icon"><i class="fa-solid fa-user"></i></span>Profile</label>
                    <div class="iocon">
                        <i id="down" class="fa-solid fa-angle-down"></i>
                        <i id="up" class="fa-solid fa-angle-up"></i>
                    </div>
                </div>
                <div class="body">
                    <a class="link" [routerLink]="['/profile']">Profile</a>
                </div>
            </div>
            <div class="nav-one mydiv" (click)="showMore($event)" *ngIf="access == 1">
                <div class="content">
                    <label><span class="relative-icon"><i class="fa-solid fa-credit-card"></i></span>Pay Role</label>
                    <div class="iocon">
                        <i id="down" class="fa-solid fa-angle-down"></i>
                        <i id="up" class="fa-solid fa-angle-up"></i>
                    </div>
                </div>
                <div class="body">
                    <a class="link" [routerLink]="['/company-payments']">Companies</a>
                    <a class="link" [routerLink]="['/guard-payments']">Guards</a>
                </div>
            </div>
            <div class="nav-one mydiv" (click)="showMore($event)">
                <div class="content">
                    <label><span class="relative-icon"><i class="fa-solid fa-right-from-bracket"></i></span>LogOut</label>
                    <div class="iocon">
                        <i id="down" class="fa-solid fa-angle-down"></i>
                        <i id="up" class="fa-solid fa-angle-up"></i>
                    </div>
                </div>
                <div class="body">
                    <a class="link" (click)="logout()">logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="responsive" (click)="responsive()">
        <i class="fa-solid fa-caret-right" id="right"></i>
        <i class="fa-solid fa-caret-left" id="left"></i>
    </div>
</div>
