<div class="outer-layer">
    <app-nevigation></app-nevigation>
    <div class="outer-main">
      <div class="inner-main">
        <div class="form">
            <div class="heading">
                <h1>RESET PASSWORD</h1>
            </div>
            <div class="img">
                <img src="../../../assets/logo.png" alt="">
            </div>
            <input [type]="type" placeholder="password" [(ngModel)]="data.password">
            <i class="login__icon fas fa-lock" (click)="display()"></i>
            <input [type]="type" placeholder="Confrim password" [(ngModel)]="data.confirm_password">
            <i class="login__icon fas fa-lock" (click)="display1 ()"></i>
            <button (click)="changePassword()">Continue</button>
      </div>
    </div>
</div>


