<app-top-nav></app-top-nav>
<div class="main-part">
    <div class="main-part-1">
        <app-navigation></app-navigation>
    </div>
    <div class="main-part-2">
        <div class="current-page">
            <i class="fa-solid fa-angle-right"></i>
            <label>Preview Form</label>
        </div>
        <div class="current-content">
            <div class="form-part-1">
                <h3>Form</h3>
                <div class="form-data">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <label for="">Name</label><br>
                    <input type="text" name="" id="">
                    <button>button</button>
                </div>
            </div>
            <div class="form-part-2">
                <img src="../../../assets/default.png" alt="">
            </div>
        </div>
    </div>
</div>