<app-home-nevigation></app-home-nevigation>
<div class="faq-main">
    <div class="page-content">
        <h1>Terms Of Service</h1>
        <h4>By using our services, you are agreeing to these terms. Please read them carefully.</h4>
    </div>
    <div class="outer">
        <div class="main-content">
            <h3>PLEASE READ THESE CUSTOMER TERMS OF SERVICE CAREFULLY:</h3>
            <p>Before you start using our services, products, devices, and tools, we request that you take the time to
                read and understand the terms of service laid out in this policy. Your ability to access and use
                Security Plus's services depends on you agreeing to and following these terms. If you don't agree to all
                of these terms, please don't use our service.
            </p>
            <label>Definitions</label>
            <p>
                <b>Agreement or Customer Terms of Service:</b> These terms include everything in this document, plus
                anything
                else we refer to or link to. We might include links to articles to help you use our products and
                services, but those articles aren't part of this agreement.<br><br>

                <b>Authorized Payment Method:</b> This is a valid payment method we accept, which might change from time
                to
                time and could include third-party payment options.<br><br>

                <b>Billing Period:</b> This is how long you agree to pay for services in advance, as stated in your
                order.<br><br>

                <b>Confidential Information:</b> This covers any private information one party shares with the other,
                like
                customer details, product plans, or financial data. It doesn't include info that's already public, known
                before, or comes from a third party.<br><br>

                <b>Contact:</b> This is someone whose details are stored in our service by you.<br><br>

                <b>Contact Information:</b> This includes details like name, email, or phone number provided by visitors
                to
                your pages or uploaded by you.<br><br>

                <b>Customer Data:</b> This is all the information you submit or collect through our service.<br><br>

                <b>Customer Materials:</b> This is all the stuff you supply or post through our service for public
                display.<br><br>

                <b>Personal Data:</b> This is any info about an identifiable person that's part of Customer Data and is
                protected under data protection laws.<br><br>

                <b>Third-Party Products:</b> These are products and services from other companies that work with our
                service,
                like apps or services listed on our site.<br><br>

                <b>Third-Party Sites:</b> These are websites from other companies linked to from our service.<br><br>

                <b>Users:</b> These are people authorized to use our service on your behalf.<br><br>
            </p>
            <label>Service Provider Eligibility Criteria</label>
            <p>To ensure quality and reliability for our users, Security Plus imposes a minimum rating requirement for
                service provider companies. Companies must maintain a rating of 70 or higher to continue offering
                services through our platform. This rating reflects the overall satisfaction and performance of the
                company as assessed by our users. <br>

                Maintaining a rating of 70 or above signifies excellence in service delivery, reliability, and customer
                satisfaction. Companies falling below this threshold may not meet our quality standards and may not
                provide the level of service expected by our users. <br>

                By upholding this eligibility criterion, Security Plus aims to uphold the highest standards of service
                quality and customer satisfaction within our platform. We prioritize the satisfaction and security of
                our users by ensuring that only the most reputable and reliable service providers are available for
                selection. <br>
            </p>
            <label>Modification in Terms Of Use</label>
            <p>We may change this User Agreement from time to time without letting you know beforehand. It's your
                responsibility to check this agreement regularly for any updates. If we make any changes and you keep
                using our services, it means you agree to the new terms.

                We'll send you emails to let you know about any changes to the terms and conditions or privacy policy.
                Just a heads-up, we won't send these updates by physical mail, so make sure to keep an eye on your
                email. We're not responsible if you miss or don't receive these email notifications.
            </p>

        </div>
    </div>
</div>
<app-footer></app-footer>