<app-top-nav></app-top-nav>
<div class="main-layout">
    <app-navigation></app-navigation>
    <div class="part-2">
        <div class="current-page">
            <i class="fa-solid fa-angle-right"></i>
            <label>Chat</label>
        </div>
        <div class="chat-component">
            <div class="container">
                <div class="row">
                    <section class="discussions">
                        <div class="discussion search">
                                <input type="text" placeholder="search members">
                        </div>
                        <div class="discussion" *ngFor="let itmes of chatMembers" (click)="specificUser(itmes)">
                            <div class="photo">
                                <img [src]="itmes.image" alt="">
                            </div>
                            <div class="desc-contact">
                                <p class="name">{{itmes.bussiness_owner}}</p>
                            </div>
                            <div class="timer">12</div>
                        </div>
                    </section>
                    <section class="chat">
                        <div class="header-chat">
                            <div class="photo">
                                <img [src]="selectedUser.image" alt="">
                            </div>
                            <p class="name">{{selectedUser.bussiness_owner}}</p>
                        </div>
                        <div class="messages-chat">
                            <div *ngFor="let message of messages"
                                [ngClass]="{'sender': message.receiver_id !== currentUserId, 'receiver': message.receiver_id === currentUserId}">
                                <p class="message-content">{{ message.message }}</p>
                                <p class="message-time">{{ message.created_at | date: 'short' }}</p>
                            </div>
                        </div>
                        <div class="footer-chat">
                            <input type="text" class="write-message" placeholder="Type your message here" [(ngModel)]="newMessage">
                            <i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true" (click)="sendMessage()"></i>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>