<app-top-nav></app-top-nav>
<div class="main-part">
    <div class="main-part-1">
        <app-navigation></app-navigation>
    </div>
    <div class="main-part-2">
        <div class="current-page">
            <i class="fa-solid fa-angle-right"></i>
            <label>Guard Registraion</label>
        </div>
        <div class="current-content">
            <div class="main">
                <div class="first">
                  <h2>PERSONAL DETAILS</h2>
                    <label>FIRST NAME:</label> 
                     <input type="text" id="full-name" name="full_name" placeholder="Your name.." required>
                     <label>LAST NAME:</label>
                     <input type="text" id="full-name" name="full_name" placeholder="Your name.." required>
                     <label>DATE OF BIRTH:</label>
                     <input type="date" id="age" date="" placeholder="date of birth.." required>
                     <label > GENDER:</label>
                     <select id="type" name="GENDER" required>
                     <option value="">select</option>
                     <option value="male"> MALE</option>
                     <option value="female">FEMALE</option>
                   </select>
                    
                </div>
                <div class="second">
                    <h2>CONTACT DETAILS</h2>
                    <label>EMAIl:</label>
                    <input type="text" id="email" name="email" placeholder="Your email.." required>
                    <label >MOBILE NUMBER:</label>
                    <input type="tel" id="mobile-number" name="mobile_number" placeholder="Enter mobile number" required>
                    <label >ADDRESS:</label>
                    <input type="text" id="Address" name="ADDRESS" placeholder="address" required>
                    <label >CITY:</label>
                    <input type="text" id="CITY" name="CITY" placeholder="city" required>
                    

                </div>
                <div class="third">
                    
                </div>
            </div>
            
        </div>
        <div class="btn" (click)="SUBMIT()">SUBMIT</div>
    </div>
</div>
