.faq-main {
    .page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 200px;
    }

}

@media (min-width: 355px) and (max-width: 450px) {
    .faq-main {
        .page-content {
            margin-top: 15px;
            display: block;

            h1,
            h4 {
                display: block;
                text-align: center;
            }
        }

    }

}