<app-home-nevigation></app-home-nevigation>
<div class="faq-main">
    <div class="page-content">
        <h1>Privacy Policy</h1>
        <h3>This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how
            we update and manage it.</h3>
    </div>
    <div class="outer">
        <div class="main-content">
            <label>Introduction</label>
            <p>Security Plus committed to keeping any and all personal information collected from the
                individuals(guards,service provider companices and service taker companies) that visit our website and
                make use of our online facilities and services accurate, confidential, secure and private. Our Privacy
                Policy is designed to help you understand how we collect, use and safe the information you provide to us
                and to assist you in making informed decisions when using our Service.
            </p>
            <label>Data Collection Process</label>
            <p>Security Plus routinely gathers data from both companies and guards. When initiating your business on the
                platform, you must provide requisite information for company registration. System administrators
                meticulously review submitted data to authenticate its validity, checking for any potential inaccuracies
                or falsifications. Once approved, you'll receive notification of your company's data validation. Be
                assured, your data remains securely stored and protected. Likewise, guards submitting their information
                for job opportunities undergo validation by registered organizations. This ensures a reliable and
                trustworthy exchange of information, fostering a secure and efficient environment for all stakeholders
                involved in the platform.You may be asked to enter your: name, e-mail address, mailing address, phone
                number or credit card information. You may, however, visit our site anonymously.</p>
            <label>Children’s Privacy</label>
            <p>We are in compliance with the requirements of COPPA (Children's Online Privacy Protection Act), we do not
                collect any information from anyone under 13 years of age. Our website, products, and services are all
                directed to people who are at least 13 years old or older. This online privacy policy applies only to
                information collected through our website and not to information collected offline.</p>
            <label>How We Protect Information</label>
            <p>We implement a variety of security measures to maintain the safety of your personal information from
                unauthorized access when you place an order or enter, submit, or access your personal information. We
                offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure
                Socket Layer (SSL) technology and then encrypted into our Database to be only accessed by those
                authorized with special access rights to our systems. After a transaction, your private information such
                as credit cards, social security numbers, financials, etc. will be kept on file for more than 60 days in
                order to make it easier for you to contract on our site without the need to enter your payment
                information on each project you post.</p>
            <label>Changes To Our Privacy Policy</label>
            <p>The Company reserves the right to change this policy and our Terms of Service at any time. We will notify
                you of significant changes to our Privacy Policy by sending a notice to the primary email address
                specified in your account or by placing a prominent notice on our site. Significant changes will go into
                effect 30 days following such notification. Non-material changes or clarifications will take effect
                immediately. You should periodically check the Site and this privacy page for updates.</p>
            <label>Use Of Information</label>
            <p>We don't share your personal information with others for marketing unless you agree. Your information
                won't be sold, traded, rented, or given away without your permission, except to deliver the product or
                service you've asked for. Here's how we use the information we collect:

                - We may contact you to answer questions, ask for feedback, offer technical help, or tell you about
                special deals.
                - We use non-personal information to see trends and how our site is used.
                - Your feedback helps us make our website better.
                - We want to give you the best customer service and tailor your experience.
                - Sometimes we run contests, promotions, or surveys.
                - We might send you emails about your order, plus occasional news or updates.
                - If you want to stop getting emails from us, you are violate my rules and check the mail for violation.
            </p>
            <label>Data Security</label>
            <p>The company promises to have and keep up a detailed plan for keeping data safe. This plan follows all
                privacy laws that apply. It includes different kinds of safety measures to protect personal information,
                whether it's on paper or stored electronically. The aim is to keep this information secure and private,
                following the standards set by the industry. It also guards against any unauthorized access or loss of
                personal data.<br>

                If the company suspects or finds out that someone who isn't supposed to has accessed client data or
                personal data, or if there's any other security problem with personal data the company has, they'll let
                the client know right away. They'll work together with the client to fix the problem, and they'll cover
                the costs. If there's a data breach, the company will follow all the laws about it and take the
                necessary steps to fix the problem quickly.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>