<app-home-nevigation></app-home-nevigation>
<div class="main-part">
    <div class="main-part-2">
        <ng-container *ngIf="formContent && formContent.length > 0 else nodata">
            <div class="current-content">
                <div class="form-part-1">
                    <h3>Job Application Form</h3>
                    <div class="form-data">
                        <div *ngFor="let item of formContent;let i = index">
                            <div class="label" *ngIf="item.type === 'Label'">
                                <label>{{item.text}}</label>
                            </div>
                            <div class="input" *ngIf="item.type === 'Input'">
                                <input [type]="item.Type" [placeholder]="item.placeholder" [required]="item.required === 'Required'" 
                                    (input)="onInputChange($event)" [(ngModel)]="item.data"><br>
                                    <label class="required" *ngIf="error[i]">Field is required</label>
                            </div>
                            <div class="checkbox" *ngIf="item.type === 'Checkbox'" (change)="onCheckboxChange($event,item)">
                                <label>{{item.text}}</label>
                                <div class="value">
                                    <input type="checkbox" name="options" [value]="item.value1">
                                    <label for="option1">{{item.value1}}</label>
                                </div>
                                <div class="value">
                                    <input type="checkbox" name="options" [value]="item.value2">
                                    <label for="option2">{{item.value2}}</label>
                                </div>
                                <div class="value">
                                    <input type="checkbox" name="options" [value]="item.value3">
                                    <label for="option3">{{item.value3}}</label>
                                </div>
                                <div class="value">
                                    <input type="checkbox" name="options" [value]="item.value4">
                                    <label for="option4">{{item.value4}}</label>
                                </div>
                            </div>
                            <div class="radio" *ngIf="item.type === 'Radio Button'">
                                <label>{{item.text}}</label>
                                <div class="outer">
                                    <div class="value">
                                        <input type="radio" name="options" (change)="onRadioChange(item.value1,item)">
                                        <label for="option1">{{item.value1}}</label>
                                    </div>
                                    <div class="value">
                                        <input type="radio" name="options"  (change)="onRadioChange(item.value2,item)">
                                        <label for="option2">{{item.value2}}</label>
                                    </div>
                                    <div class="value">
                                        <input type="radio" name="options"  (change)="onRadioChange(item.value3,item)">
                                        <label for="option3">{{item.value3}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let item of formContent">
                            <div class="button" *ngIf="item.type === 'Button'">
                                <button (click)="UploadForm()">{{ item.text }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let item of formContent">
                    <div class="form-part-2" *ngIf="item.type === 'Image'">
                        <h3>Upload image</h3>
                        <div class="image" (click)="takePicture(item)">
                            <img [src]="selectedImg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #nodata>
            <div class="no-record-found">
                <div class="image">
                    <img src="../../../assets/no-data.gif" alt="No Record Found">
                </div>
            </div>
        </ng-template>
    </div>
</div>
<app-footer></app-footer>