<app-top-nav></app-top-nav>
<div class="main-layout">
    <app-navigation></app-navigation>
    <div class="main">
        <div class="form-section-one">
            <label>Components</label>
            <div class="component">
                <div class="components" *ngFor="let item of formcomponents[0].form.elements" draggable="true"
                    (dragstart)="onDragStart($event, item)">
                    <label>{{item.type}}</label>
                </div>
            </div>
        </div>
        <div class="form-section-two" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
            <label>Drop Here</label>
            <div class="working-space">
    
            </div>
            <button class="save" id="saveButton" (click)="Save()">Save Changes</button>
        </div>
        <div class="form-section-three">
            <label>Enter Data</label>
            <div class="working-space-2">
    
            </div>
        </div>
    </div>
</div>
