<app-home-nevigation></app-home-nevigation>
<div class="slider">
    <div class="slide1">
        <div class="outer">
            <h1>Empower Your Security Business</h1>
            <p>Join us in shaping the future of security management.</p>
            <p>Unlock the potential to launch and grow your security company with Security Plus.</p>
            <label>Already have an account? <a href="#">SignIn</a> </label>
        </div>
    </div>
    <div class="slide2">
        <div class="outer">
            <h1>Empower Your Security Business</h1>
            <p>Join us in shaping the future of security management.</p>
            <p>Unlock the potential to launch and grow your security company with Security Plus.</p>
            <label>Already have an account? <a href="#">SignIn</a> </label>
        </div>
    </div>
    <div class="slide3">
        <div class="outer">
            <h1>Empower Your Security Business</h1>
            <p>Join us in shaping the future of security management.</p>
            <p>Unlock the potential to launch and grow your security company with Security Plus.</p>
            <label>Already have an account? <a href="#">SignIn</a> </label>
        </div>
    </div>
</div>
<div class="benefit-section">
    <div class="inner">
        <h1>Web Application</h1>
        <div class="border"></div>
    </div>
    <div class="web-section">
        <div class="mobile-p2">
            <img src="../../assets/web.png" alt="" class="animated-image">
        </div>
        <div class="mobile-p1">
            <div class="mobile-p1-p1">
                <div class="content">
                    <div class="number">
                        <label>01</label>
                    </div>
                    <div class="data">
                        <p>
                            Users can quickly register their companies as service providers, making it simple to start
                            offering services.
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="number">
                        <label>02</label>
                    </div>
                    <div class="data">
                        <p>
                            Companies can hire guards by filling out online job forms. This streamlines the hiring
                            process and helps ensure they find the right candidates efficiently.
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="number">
                        <label>03</label>
                    </div>
                    <div class="data">
                        <p>
                            Each company has access to a back office dashboard, allowing them to manage their
                            organization effectively.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mobile-p1-p2 mobile-p1-p1">
                <div class="content">
                    <div class="number">
                        <label>04</label>
                    </div>
                    <div class="data">
                        <p>
                            The application is designed to work seamlessly on laptops, tablets, and mobile devices,
                            ensuring that users can access it anytime and anywhere.
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="number">
                        <label>05</label>
                    </div>
                    <div class="data">
                        <p>
                            Companies can easily manage their hired guards and monitor their performance, helping to
                            maintain a high standard of service.
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="number">
                        <label>06</label>
                    </div>
                    <div class="data">
                        <p>
                            The application features a simple and intuitive interface, making it easy for users of all
                            skill levels to navigate and utilize the platform.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner">
        <h1>Mobile App</h1>
        <div class="border"></div>
    </div>
    <div class="mobile-section">
        <div class="mobile-p1">
            <div class="mobile-p1-p1">
                <div class="content">
                    <div class="number">
                        <label>01</label>
                    </div>
                    <div class="data">
                        <p>
                            Guards can easily sign in, reset their password if they forget it, or change their password
                            anytime for security.
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="number">
                        <label>02</label>
                    </div>
                    <div class="data">
                        <p>
                            The home screen shows a summary of the guard’s daily activities and performance to help them
                            stay updated on their progress.
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="number">
                        <label>03</label>
                    </div>
                    <div class="data">
                        <p>
                            In case of an emergency, the guard can press a single alert button, which triggers an alarm
                            and sends notifications to others instantly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mobile-p1-p2 mobile-p1-p1">
                <div class="content">
                    <div class="number">
                        <label>04</label>
                    </div>
                    <div class="data">
                        <p>
                            Guards can mark their attendance using face detection technology, making the process quick
                            and secure.
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="number">
                        <label>05</label>
                    </div>
                    <div class="data">
                        <p>
                            Guards can update their personal details and keep their profiles up-to-date right from the
                            app.
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="number">
                        <label>06</label>
                    </div>
                    <div class="data">
                        <p>
                            Guards can view, download, and access both current and past performance reports whenever
                            they need them.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-p2">
            <img src="../../assets/mobile.png" alt="" class="animated-image">
        </div>
    </div>
    <div class="inner">
        <h1>Features</h1>
        <div class="border"></div>
    </div>
    <div class="feature-section">
        <div class="outer">
            <div class="register-companies">
                <div class="comapny-outer">
                    <div class="Company-logo">
                        <img src="../../assets/features-pic/analytic.png" alt="">
                    </div>
                    <label class="logo-name">Analytics</label>
                </div>
                <label class="Company-name">Analytics for the scheduler and reports are created to assist you in
                    understanding important data visually, allowing you to make informed decisions quickly.</label>
            </div>
            <div class="register-companies">
                <div class="comapny-outer">
                    <div class="Company-logo">
                        <img src="../../assets/features-pic/attendence.png" alt="">
                    </div>
                    <label class="logo-name">Attendance</label>
                </div>
                <label class="Company-name">Integrate biometric attendance functionality into your app for guards,
                    ensuring
                    secure and accurate attendance tracking.</label>
            </div>
            <div class="register-companies">
                <div class="comapny-outer">
                    <div class="Company-logo">
                        <img src="../../assets/features-pic/client-mobile-app.png" alt="">
                    </div>
                    <label class="logo-name">Guard Mobile App</label>
                </div>
                <label class="Company-name">This mobile version of the Guard allows Guards to check such as reports,
                    communication, profile management, shift status, and much more
                </label>
            </div>
            <div class="register-companies">
                <div class="comapny-outer">
                    <div class="Company-logo">
                        <img src="../../assets/features-pic/client-portal.png" alt="">
                    </div>
                    <label class="logo-name">Client Web Portal</label>
                </div>
                <label class="Company-name">Our client companies can securely access all critical data through the
                    Security
                    Plus Client Web Portal.
                </label>
            </div>
            <div class="register-companies">
                <div class="comapny-outer">
                    <div class="Company-logo">
                        <img src="../../assets/features-pic/comment.png" alt="">
                    </div>
                    <label class="logo-name">Reviews</label>
                </div>
                <label class="Company-name">Users of the back-office dashboard can communicate effectively by adding
                    comments throughout the system. Additionally, they can share reviews about companies to help others
                    make
                    informed decisions.
                </label>
            </div>
        </div>
    </div>
    <a [routerLink]="['/features']">Learn More -></a>
</div>
<app-team-member></app-team-member>
<app-footer></app-footer>