<app-home-nevigation></app-home-nevigation>
<div class="slider">
    <div class="slide1">
        <div class="outer">
            <h1>Empower Your Security Business</h1>
            <ul>
                <li>Unlock the potential to launch and grow your security company with Security Plus.</li>
                <li>Register effortlessly and begin offering services to our diverse user base.</li>
                <li>Expand your team as you scale, welcoming new talent through our system.</li>
                <li>Join us in shaping the future of security management.</li>
            </ul>
            <label>Already have an account? <a href="#">SignIn</a> </label>
        </div>
    </div>
    <div class="slide2">
        <div class="outer">
            <h1>slide 2</h1>
        </div>
    </div>
    <div class="slide3">
        <div class="outer">
            <h1>slide 3</h1>
        </div>
    </div>
</div>
<app-footer></app-footer>