<app-top-nav></app-top-nav>
<div class="main">
    <app-navigation></app-navigation>
    <div class="main-content">
        <div class="current-page">
            <i class="fa-solid fa-angle-right"></i>
            <label>Dashboard</label>
        </div>
        <div class="frist">
            <div class="graph">
                <canvas id="doughnutchart"></canvas>
            </div>
            <div class="graph2">
                <canvas id="acquisitions"></canvas>   
            </div>
            <div class="graph">
                <canvas id="piechart"></canvas>
            </div>
        </div>      
    </div>
</div>

 