<app-top-nav></app-top-nav>
<div class="main">
    <app-navigation></app-navigation>
    <div class="main-content">
        <div class="current-page">
            <i class="fa-solid fa-angle-right"></i>
            <label>Dashboard</label>
        </div>
        <div class="first">
            <div class="expense one">
                <label> Total Guards</label>
                <label class="lab"> {{total}} </label>
            </div>
            <div class="expense one">
                <label> Contract Conpanies</label> 
                <label class="lab"> {{contracts}} </label>
            </div>
            <div class="expense one">
                <label> Remaing Guards</label>
                <label class="lab"> {{available}} </label>
            </div>
            <div class="expense one">
                <label> On Duty</label>
                <label class="lab"> {{onduty}} </label>
            </div>
        </div>
        <div class="second">
            <div class="graph">
                <canvas id="doughnutchart"></canvas>
            </div>
            <div class="graph2">
                <canvas id="acquisitions"></canvas>   
            </div>
            <div class="graph">
                <canvas id="piechart"></canvas>
            </div>
        </div>      
    </div>
</div>

 