<app-home-nevigation></app-home-nevigation>
<div class="outer-main">
    <div class="main-inter">
        <div class="image-section"></div>
        <div class="container">
            <div class="screen">
                <div class="screen__content">
                    <div class="login">
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="email" class="login__input" placeholder="User name / Email" [(ngModel)]="forgetPasswordData.email">
                        </div>
                        <button class="button login__submit" (click)="forget()">
                            <span class="button__text">Get Password</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>				
                        <button class="button login__submit" [routerLink]="['/login']">
                            <span class="button__text">Back to Login</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>				
                    </div>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>		
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>		
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>