<div class="outer-main">
    <div class="main-inter">
        <div class="image-section"></div>
        <div class="content">
            <div class="logo">
                <div class="logo-image"></div>
            </div>
            <h3>Recover Your Password</h3>
            <div class="credentials-path">
                <label>Enter Email</label>
                <input type="email">
                <i class="fa-regular fa-envelope"></i>
                <button>Get Password</button>
            </div>
            <div class="not-have-account">
                <a [routerLink]="['/login']">Back to Login</a>
            </div>
        </div>
    </div>
</div>