<div class="top-nav">
    <div class="top-nav-part-1"></div>
    <div class="top-nav-part-2">
        <!-- <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search here ...."> -->
    </div>
    <div class="top-nav-part-3">
        <nav>
            <ul>
                <audio #audio controls loop style="display: none;">
                    <source [src]="audioPath" type="audio/mp3">
                </audio>
                <li class="one">
                    <i class="fa-regular fa-envelope"></i>
                </li>
                <li class="two">
                    <i id="bellIcon" class="fa-regular fa-bell"></i>
                </li>
                <li class="three">
                    <i class="fa-solid fa-power-off" (click)="logout()"></i>
                </li>
            </ul>
        </nav>
    </div>
</div>